.carrusel-content{
	display: none;
}
.active{
	display: block;
}
.carrusel-content{
	width: 400px;
	height: 400px;
	margin-left: 35%;
}
.carrusel-content img{
	width:85%;
    height: 350px;
    margin-top: 35%;
}
button{
	border-radius: 100%;
	
}
.carrusel{
	background: #afa7a7;
	width: 100%;
	height: 1000px;
}